/.next
/.serverless_nextjs
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/backend/.temp
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
amplify/logs
amplify/mock-data
awsconfiguration.json
amplifyconfiguration.json
amplify-gradle-config.json
amplifyxc.config
amplifytools.xcconfig
.secret-*
build/
dist/
node_modules/
#aws-exports.js